/* Global styling */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
html{
    color: white;
}
/* header+menu */
header{
    background-image: url(/assets/images/bg.jpg);
    height: 379px;
}

.menu{
    border: 0;
    background-color: transparent;
    padding:33px 0 0 28px;
    color: white;
}

.header-h{
    padding:30px 0 0 17px;
    font-size: 60px;
}

.header-p{
    padding-left: 17px;
    font-size: 20px;
}

.header-h.show{
    padding: 10px 0 0 17px;
}

.ul{
    display: none;

}

.ul.show {
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.671);
    height: 40px;
    margin-top: 10px;
    animation: fade linear 0.5s;
}
@keyframes fade {
    0% {opacity:0;}
    100% {opacity:1;}
}

li{
    padding:10px 10px;
}

li a{
    text-decoration: none;
    color: white;
    border-bottom: 1px solid;
    margin: 3px 10px 0px;
}

/* main */

/* weather */
.wrapper{
    display: flex;
}
.wrapper, .weather-l, .weather-r .weather-bl, .weather-br{
    height: 366px;
}

.arrow-r{
    width: 24px;
    position: relative;
    background-color: #FFE981;
}

.arrow-l{
    width: 24px;
    position: relative;
    background-color: #FFE981;
    transform: rotate(180deg);
}

.weather-l{
    background-color: #FFE981;
    width: calc(50vw - 48px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather-h1{
    font-size: 20px;
    color: #224430;
}

.weather-h2{
    font-size: 30px;
    margin-top: 11px;
}

.weather-h3{
    font-size: 20px;
    margin-bottom: 11px;
}

.weather-r{
    background-color: #567061;
    width: 50vw;
    display: flex;
}
.wrapper-in{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 146px;
    height: 290px;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.weather-h5, .weather-h6{
    padding-right: 28px;
}

.icon{
    width: 42px;
    height: 42px;
}

.sunicon{
    width: 106px;
    height: 103px;
    fill: #567061;
    margin: 28px 0 23px 0;
}

.weather-bl{
    
    width: 50vw;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.weather-h7{
    font-size: 20px;
    color:#567061;
}

.weather-h8{
    font-size: 20px;
    padding-top: 32px;
    color: #567061;
}

.weather-br{
    
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.asd{
    display: flex;
}

.ig{
    margin-top: 0;
}

.ic{
    margin-top: 16px;
}
/* footer */
footer{
    height: 380px;
    background-image: url(/assets/images/footerbg.png);
}

.footer-h{
    font-size: 29px;
    padding:98px 0 0 118px;
    color: #224430;
}

.footer-p{
    padding: 53px 0 0 51px;
    font-size: 15px;
    color: #224430;
}